# Java compiled files
*.class

# Build folders
bin/
out/
build/
target/

# VS Code
.vscode/

# IntelliJ IDEA
.idea/
*.iml

# Eclipse
.classpath
.project
.settings/

# Operating system files
.DS_Store
Thumbs.db

# Logs and temporary files
*.log
*.tmp
*.temp